apiVersion: v1
kind: Service
metadata:
  name: mine-app
  namespace: default
  labels:
    app: mine-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: mine-app
